<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/searchbox'); -%>

    <h2><%= id %></h2>
    <ul>
      <% for(const term of terms) { %>
      <li>
          <code>[<%= term.language %>]</code>
          <%= term.term %>
      </div>
      </li>
      <% } %>
    </ul>

  </body>
</html>
