<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/searchbox'); -%>
    <h2><%= query %></h2> 
    <%- include('partials/terms'); -%>

    <% for(const phrase of phrases) { %>
    <div class="row">
      <div class="column"><%- phrase.de %></div>
      <div class="column"><%- phrase.nl %></div>
    </div>
    <% } %>
  </body>
</html>
