<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - terminology translations with example phrases</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="" method="get">
      <label for="site-search">Search all terminology:</label>
      <input
        type="search"
        id="term-search"
        name="q"
        aria-label="Search all terminology"
      />
      <input type="submit" />
    </form>
    <ul>
      <% for(const term of terms) { %>
      <li>
        <div>IATE-<%= term.sourceId %></div>
        <div>
          German: 
          <a href="/german-dutch/<%= term.de %>">
            <%= term.de %>
          </a>
        </div>
        <div>
          Dutch: 
          <a href="/dutch-german/<%= term.nl %>">
            <%= term.nl %>
          </a>
        </div>
        <div>
          English: 
          <a href="/english-german/<%= term.en %>">
            <%= term.en %>
          </a>
        </div>
        <div>
          Domain:
          <a href="/german-dutch/domain/<%= term.domain %>">
            <%= term.domain %>
          </a>
      </div>
      </li>
      <% } %>
    </ul>
    <ul>
      <% for(const phrase of phrases) { %>
      <li>
        <div>German: <%= phrase.de %></div>
        <div>Dutch: <%= phrase.nl %></div>
        <div>English: <%= phrase.en %></div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
