<%- include('layout/header'); -%>
    <%- include('partials/terms-partial'); -%>
    <ul>
      <% for(const phrase of phrases) { %>
      <li>
        <div>German: <%= phrase.de %></div>
        <div>Dutch: <%= phrase.nl %></div>
        <div>English: <%= phrase.en %></div>
      </li>
      <% } %>
    </ul>
<%- include('layout/footer'); -%>
